<template name="Bookmarks">
	<div class="page recipes">
		{{> Navigation title='Bookmarks' subtext=recipeCount}}

		<div class="content-scrollable">
			<div class="list-recipes">
				{{#each this}}
					{{> RecipeItem recipe=this size='large'}}
				{{else}}
					<div class="wrapper-message">
						<div class="title-message">
							아직 북마크한 레시피가 없습니다.
						</div>
						<div class="subtitle-message">레시피 상세화면에서 <i class="fa fa-bookmark"></i> 버튼을 눌러주세요
							<br/><br/>
							<a href="{{pathFor 'home'}}">홈으로 가기</a>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</template>