<template name="Feeds">
	<div class="page feeds">
		{{> Navigation title="Feeds"}}

		<div class="content-scrollable">
			<div class="list-feeds {{#unless ready}}loading{{/unless}}">
				{{#if ready}}
					{{#each feeds}}
						{{> Feed}}
					{{else}}
						<div class="wrapper-message">
							<div class="title-message">아직 올라온 공유 요리가 없습니다.</div>
							<div class="subtitle-message">여러분이 만든 요리를 여러 사람에게 공유하고 자랑해 보세요!</div>
						</div>
					{{/each}}
				{{else}}
					<div class="wrapper-message">
						<i class="fa fa-circle-o-notch fa-spin fa-lg"></i>
						<div class="title-message">Loading</div>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</template>