<template name="Feed">
	<a href="{{path}}" class="item-feed">
		<span class="feed-information">
			<span class="avatar">
				<img src="{{userAvatar}}" class="image-avatar">
			</span>
			<span class="subdata">
				<span class="writer">{{getName}}</span>
				{{#if place}}
					<i class="fa fa-map-marker"></i>
					<span class="location">{{place}}</span>
				{{/if}}
				{{#if isDeletable}}
					<a class="js-remove btn-sm-remove-circle">
						<i class="fa fa-minus"></i>
					</a>
				{{/if}}
				<br/>
				{{text}}
			</span>
		</span>
		{{#with image imageId}}
		<div class="feed-image">
			<img src="{{url store="thumbs" uploading="/img/app/loading/loading-spin-negative.svg"}}">
		</div>
		{{/with}}
	</a>
</template>