<template name="MasterLayout">
	<div id="container" class="{{menuOpen}} {{overlayOpen}}">
		<section id="menu" class="overthrow">
			<div class="empty"></div>
			<a href="{{pathFor 'home'}}" class="{{activePage 'home'}}">
				<span class="wrapper-menu-item">
					<i class="fa fa-book"></i>
					<span class="title-menu">레시피</span>
				</span>
			</a>
			<a href="{{pathFor 'recipe.write'}}" class="{{activePage 'recipe.write'}}">
				<span class="wrapper-menu-item">
					<i class="fa fa-pencil"></i>
					<span class="title-menu">레시피 만들기</span>
				</span>
			</a>
			<a href="{{pathFor 'bookmarks'}}" class="{{activePage 'bookmarks'}}">
				<span class="wrapper-menu-item">
					<i class="fa fa-bookmark-o"></i>
			        <span class="title-menu">북마크</span>
				</span>
			</a>
			<a href="{{pathFor 'feeds'}}" class="{{activePage 'feeds'}}">
				<span class="wrapper-menu-item">
					<i class="fa fa-rss"></i>
					<span class="title-menu">피드</span>
				</span>
			</a>
			<a href="{{pathFor 'settings'}}" class="{{activePage 'settings'}}">
				<span class="wrapper-menu-item">
					<i class="fa fa-gear"></i>
					<span class="title-menu">설정</span>
				</span>
			</a>
		</section>

		<div class="notifications">
			{{#unless connected}}
				<div class="notification">
					<i class="fa fa-circle-o-notch fa-spin"></i>
					<div class="title-notification">서버와의 연결이 끊어졌습니다..</div>
				</div>
			{{/unless}}
			{{#each notifications}}
				<div class="notification">
					<a class="btn-primary js-notification-action">{{action}}</a>
					<div class="title-notification">{{title}}</div>
				</div>
			{{/each}}
		</div>

		{{> Overlay}}

		<div class="content-overlay"></div>

		<div id="content-container">
			{{> yield}}
		</div>
	</div>
</template>