<template name="Feed">
	<a href="{{path}}" class="item-feed">
	<!--<a class="item-feed">-->
		<span class="feed-information">
			<span class="avatar">
				<img src="{{userAvatar}}" class="image-avatar">
			</span>
			<span class="subdata">
				<span class="writer">{{firstName}}</span>
				{{#if place}}
					<i class="fa fa-map-marker"></i>
					<span class="location">{{place}}</span>
				{{/if}}
				<br/>
				{{text}}
			</span>
		</span>
		{{#with image imageId}}
		<div class="feed-image">
			<img src="{{url store="thumbs" uploading="/img/app/loading/loading-spin-negative.svg"}}" class="{{#if isUploaded}}{{else}}loading{{/if}}">
		</div>
		{{/with}}
	</a>
</template>