<template name="Feed">
	<a href="{{path}}" class="item-feed">
		<span class="feed-information">
			<span class="avatar">
				<img src="{{userAvatar}}" class="image-avatar">
			</span>
			<span class="subdata">
				<span class="writer">{{firstName}}</span>
				{{#if place}}
					<i class="fa fa-map-marker"></i>
					<span class="location">{{place}}</span>
				{{/if}}
				<br/>
				{{text}}
			</span>
		</span>
		{{#with image imageId}}
		<div class="feed-image">
			<img src="{{url store="thumbs" storing="/home/caribjin/meteor/cookking/packages/jquery-cropper/cropper/examples/crop-avatar/img/loading.gif"}}">
		</div>
		{{/with}}
	</a>
</template>