<template name="Feed">
	<a href="{{path}}" class="item-feed">
		<span class="feed-information">
			<span class="avatar">
				<img src="{{userAvatar}}" class="image-avatar">
			</span>
			<span class="subdata">
				<span class="writer">{{firstName}}</span>
				{{#if place}}
					<i class="fa fa-map-marker"></i>
					<span class="location">{{place}}</span>
				{{/if}}
				<br/>
				{{text}}
			</span>
		</span>
		<div class="bg-image" style="background-image: url('{{image}}');"></div>
	</a>
</template>