<template name="RecipeItem">
	<a class="recipe {{highlightedClass}}" href="{{path}}">
		{{#with recipe}}
			<span class="recipe-information">
				<span class="title">{{title}}</span>
				<span class="subdata">
					<span class="favorites">
						<i class="fa fa-heart"></i> {{favoritesCount}}
					</span>
					<span class="comments">
						<i class="fa fa-comment"></i> {{commentsCount}}
					</span>
					<span class="share">
						<i class="fa fa-share-alt"></i> {{sharedCount}}
					</span>
					{{#if isBookmarked}}
					<span class="bookmarked">
						<i class="fa fa-bookmark"></i>
					</span>
					{{/if}}
				</span>
			</span>
		{{/with}}

		<img src="{{recipeImage recipe=recipe size=size}}" />
	</a>
</template>