<template name="RecipeWrite">
	<div class="page recipe-write {{activeTabClass}}">
		{{#Navigation title='Recipe Write' transparent=false back=true}}
			<a href="#" class="nav-item js-recipe-save">
				<span id="save">저장</span>
			</a>
			<div class="nav-item-last"></div>
		{{/Navigation}}

		<div class="content-recipe">
			<div class="header" style="background-image: url({{completeImage}})">
				<input type="text" id="recipeName" class="lg {{errorClass 'recipeName'}}" placeholder="레시피 이름을 적어주세요">
				<div class="btns-group">
					<a class="btn-secondary {{#if isActiveTab 'basic-info'}}active{{/if}} js-show-basic-info">기본정보</a>
					<a class="btn-secondary {{#if isActiveTab 'ingredients'}}active{{/if}} js-show-ingredients">재료</a>
					<a class="btn-secondary {{#if isActiveTab 'directions'}}active{{/if}} js-show-directions">조리법</a>
				</div>
			</div>

			<div class="content-scrollable basic-info-scrollable">
				<div class="form">
					<div class="form-row">
						<label>비공개</label>
						<input type="checkbox" id="checkbox-10-public" checked /><label for="checkbox-10-public"></label>
						<label>공개</label>
					</div>
					<div class="form-row">
						<label>기준 인원</label>
						<span id="servingDown">
							<i class="fa fa-chevron-left"></i>
						</span>
						<input type="text" id="serving" value="2" maxlength="2" readonly>
						<span id="servingUp">
							<i class="fa fa-chevron-right"></i>
						</span>
						<span>인분</span>
					</div>
					<div class="form-row">
						<label>간단한 소개</label>
						<div class="form-subrow description">
							<input type="text" id="description" class="md underline" placeholder="간단한 요리 소개를 적어주세요" maxlength="100"/>
						</div>
					</div>
					<div class="form-row">
						<label>요리 종류</label>
						{{#each categories}}
							<div class="form-subrow">
								<div class="col">
									{{{drawRadiobox this.[0].key this.[0].value 'category' false}}}
								</div>
								<div class="col">
									{{{drawRadiobox this.[1].key this.[1].value 'category' false}}}
								</div>
							</div>
						{{/each}}
					</div>
				</div>
			</div>

			<div class="content-scrollable ingredients-scrollable">
				<div class="form">
					<div class="form-row">
						<label>필수 재료</label>
						<a class="js-add-must-ingredient btn-md-add-circle">
							<i class="fa fa-plus"></i>
						</a>
						{{#each ingredients 'must'}}
							<div class="form-subrow">
								<span>{{index}}.</span>
								<input type="text" name="ingredients" data-type="{{type}}" data-id="{{_id}}" class="sm underline {{#if isFirstIngredient this}}{{errorClass 'mustIngredient'}}{{/if}}" placeholder="재료명과 필요량을 입력해 주세요" maxlength="100"/>
								{{#if isNotFirstIngredient this}}
								<span>
									<a class="js-remove-ingredient btn-sm-remove-circle">
										<i class="fa fa-minus"></i>
									</a>
								</span>
								{{/if}}
							</div>
						{{/each}}
					</div>
					<div class="form-row">
						<label>선택 재료</label>
						<a class="js-add-option-ingredient btn-md-add-circle">
							<i class="fa fa-plus"></i>
						</a>
						{{#each ingredients 'option'}}
							<div class="form-subrow">
								<span>{{index}}.</span>
								<input type="text" name="ingredients" data-type="{{type}}" data-id="{{_id}}" class="sm underline" placeholder="재료명과 필요량을 입력해 주세요" maxlength="100"/>
								<span>
									<a class="js-remove-ingredient btn-sm-remove-circle">
										<i class="fa fa-minus"></i>
									</a>
								</span>
							</div>
						{{/each}}
					</div>
				</div>
			</div>

			<div class="content-scrollable directions-scrollable">
				<div class="form">
					<div class="form-row-header complete-image">
						<a class="js-add-complete-image btn-md-add-circle">
							<i class="fa fa-picture-o"></i>
						</a>
						<span>완성사진 등록</span>
					</div>
					<div class="form-row-header direction">
						<span>조리과정 추가</span>
						<a class="js-add-direction btn-md-add-circle">
							<i class="fa fa-plus"></i>
						</a>
					</div>
					<div class="form-row">
						{{#each directions}}
							<div class="form-subrow">
								<span>{{index}}.</span>
								{{#if imageData}}
									<div class="direction-image js-add-direction-image" style="background-image: url('{{imageData}}');"></div>
								{{else}}
									<div class="direction-image js-add-direction-image">
										<img src="/img/app/take-picture.png">
									</div>
								{{/if}}
								<textarea type="text"
								          name="directions"
								          data-id="{{_id}}"
								          class="sm underline {{#if isFirstDirection this}}{{errorClass 'direction'}}{{/if}}"
								          placeholder="조리법을 입력해 주세요"
								          autocapitalize="off" autocorrect="off"
								          maxlength="200"
								          rows="3"></textarea>
								{{#if isNotFirstDirection this}}
								<span class="buttons">
									<a class="js-remove-direction btn-sm-remove-circle">
										<i class="fa fa-minus"></i>
									</a>
								</span>
								{{/if}}
							</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>