<template name="Recipe">
	<div class="page recipe {{activeTabClass}}">
		{{#Navigation title='Recipe' transparent=true back=true}}
			{{#if bookmarked}}
				<a href="#" class="nav-item js-remove-bookmark bookmarked">
					<i class="fa fa-bookmark"></i>
				</a>
			{{else}}
				<a href="#" class="nav-item js-add-bookmark">
					<i class="fa fa-bookmark-o"></i>
				</a>
			{{/if}}
			<a href="#" class="nav-item js-share">
				<i class="fa fa-camera"></i>
			</a>
			<div class="nav-item-last"></div>
		{{/Navigation}}

		<div class="recipe-image"
		     style="background-image: url('{{recipeImage recipe=this size='full'}}')"></div>

		<div class="recipe-source-view">
			<a href="{{source.url}}" target="_blank" class="btn-primary js-open">원본 보기</a>
		</div>

		<div class="recipe-information js-recipe">
			<span class="subdata">
				<span class="favorites">
					<i class="fa fa-heart"></i> {{favoritesCount}}
				</span>
				<span class="comments">
					<i class="fa fa-comment"></i> {{commentsCount}}
				</span>
				<span class="share">
					<i class="fa fa-share-alt"></i> {{sharedCount}}
				</span>
			</span>

			<span class="source">
				<i class="fa fa-user"></i>
				{{source.name}}
			</span>
			<span class="time">
				조리시간 {{cookTime}}
			</span>
			<div class="writer">
				{{writer.name}}
				<img class="avatar" src="{{writer.avatar}}">
			</div>
			<h1 class="title">
				{{title}}
			</h1>
			<div class="description">
				{{excerpt}}
			</div>
			<div class="btns-group">
				<a class="btn-secondary {{#if isActiveTab 'ingredients'}}active{{/if}} {{#if isActiveTab 'recipe'}}no-state{{/if}} js-show-ingredients">재료소개</a>
				<a class="btn-secondary {{#if isActiveTab 'directions'}}active{{/if}} {{#if isActiveTab 'recipe'}}no-state{{/if}} js-show-directions">조리법</a>
				<a class="btn-secondary {{#if isActiveTab 'feeds'}}active{{/if}} {{#if isActiveTab 'recipe'}}no-state{{/if}} js-show-feeds">요리자랑</a>
			</div>
		</div>

		<div class="content-scrollable static-nav ingredient-scrollable">
			<h2 class="list-title">이런 재료들이 들어가요</h2>
			<ul class="list-ingredients">
				{{#each ingredients}}
					<li class="item-ingredient">{{this}}</li>
				{{/each}}
			</ul>
		</div>

		<div class="content-scrollable static-nav direction-scrollable">
			<h2 class="list-title">순서대로 따라해 보세요</h2>
			<ol class="list-directions">
				{{#each directions}}
					<li class="item-direction">
						<span class="text">{{this}}</span>
					</li>
				{{/each}}
			</ol>
		</div>

		<div class="content-scrollable static-nav feed-scrollable">
			<h2 class="list-title js-share">
				<i class="fa fa-camera"></i> 이 요리를 직접 만들어 보셨나요?<br/>그럼 여기에 올려서 공유해 보세요
			</h2>
			<div class="list-feeds">
				{{#each feeds}}
					{{> Feed}}
				{{else}}
					<div class="wrapper-message">
						<div class="title-message">No feed activity yet</div>
						<div class="subtitle-message">Be the first to share that you made this recipe. <a class="js-share">Share now</a></div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</template>