<template name="Recipe">
	<div class="page recipe {{activeTabClass}}">
		{{#Navigation title='Recipe' transparent=true back=true}}
			{{#if deletable}}
				<a href="#" class="nav-item js-delete">
					<i class="fa fa-trash"></i>
				</a>
			{{/if}}
			<a href="#" class="nav-item js-share">
				<i class="fa fa-camera"></i>
			</a>
			<div class="nav-item-last"></div>
		{{/Navigation}}

		{{#with image imageId}}
			<div class="recipe-image" style="background-image: url('{{url}}')"></div>
		{{/with}}

		<div class="recipe-source-view">
			<a href="{{source.url}}" target="_blank" class="btn-primary js-open">원본 보기</a>
		</div>

		<div class="recipe-information js-recipe">
			<span class="subdata">
				<span class="favorites js-favorites">
					<i class="fa fa-heart"></i> {{favoritesCount}}
				</span>
				<span class="comments js-comments">
					<i class="fa fa-comment"></i> {{commentsCount}}
				</span>
				<span class="share js-share">
					<i class="fa fa-share-alt"></i> {{sharedCount}}
				</span>
				{{#if bookmarked}}
					<span class="bookmark js-remove-bookmark">
						<i class="fa fa-bookmark bookmarked"></i>
					</span>
				{{else}}
					<span class="bookmark js-add-bookmark">
						<i class="fa fa-bookmark"></i>
					</span>
				{{/if}}
			</span>

			<span class="source">
				<i class="fa fa-user"></i>
				{{source.name}}
			</span>
			<span class="time">
				조리시간 {{cookTime}}
			</span>
			<div class="writer">
				{{writer.name}}
				<div class="avatar">
					<img class="image-avatar" src="{{avatarImage}}">
				</div>
			</div>
			<h1 class="title">
				{{title}}
			</h1>
			<div class="description">
				{{description}}
			</div>
			<div class="btns-group">
				<a class="btn-secondary {{#if isActiveTab 'ingredients'}}active{{/if}} {{#if isActiveTab 'recipe'}}no-state{{/if}} js-show-ingredients">재료소개</a>
				<a class="btn-secondary {{#if isActiveTab 'directions'}}active{{/if}} {{#if isActiveTab 'recipe'}}no-state{{/if}} js-show-directions">조리법</a>
				<a class="btn-secondary {{#if isActiveTab 'feeds'}}active{{/if}} {{#if isActiveTab 'recipe'}}no-state{{/if}} js-show-feeds">요리자랑</a>
			</div>
		</div>

		<div class="content-scrollable static-nav ingredient-scrollable">
			<h2 class="list-title">
				<i class="fa fa-skyatlas"></i>
				이런 재료들이 들어가요
			</h2>
			<div class="content">
				<label>필수 재료</label>
				<ol class="list-ingredients">
					{{#each ingredients.must}}
						<li class="item-ingredient">
							<span class="text">{{this}}</span>
						</li>
					{{/each}}
				</ol>
				<label>선택 재료</label>
				<ol class="list-ingredients">
					{{#if ingredients.option}}
						{{#each ingredients.option}}
							<li class="item-ingredient">
								<span class="text">{{this}}</span>
							</li>
						{{/each}}
					{{/if}}
				</ol>
			</div>
		</div>

		<div class="content-scrollable static-nav direction-scrollable">
			<h2 class="list-title">
				<i class="fa fa-clock-o"></i>
				순서대로 따라해 보세요
			</h2>
			<div class="content">
				<ol class="list-directions">
					{{#each directions}}
						<li class="item-direction">
							{{#if this.imageData}}
								<div class="direction-image" style="background-image: url('{{this.imageData}}');"></div>
							{{/if}}
							<span class="text">{{this.text}}</span>
						</li>
					{{/each}}
				</ol>
			</div>
		</div>

		<div class="content-scrollable static-nav feed-scrollable">
			<h2 class="list-title js-share">
				<i class="fa fa-camera"></i> 직접 만든 이 요리를 공유해 보세요
			</h2>
			<div class="content">
				<div class="list-feeds">
					{{#each feeds}}
						{{> Feed}}
					{{else}}
						<div class="wrapper-message">
							<div class="title-message">아직 이 요리를 만들어본 사용자가 없습니다</div>
							<div class="subtitle-message">이 요리를 만들어본 최초의 쉐프가 되어 보세요!</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</template>