<template name="Recipes">
	<div class="page recipes">
		{{# Navigation title='COOKKING'}}
			<a href="#" class="nav-item js-search">
				<i class="fa fa-search"></i>
			</a>
			<div class="nav-item-last"></div>
		{{/Navigation}}

		<div class="content-scrollable">
			<div class="list-recipes">
				{{#each recipes}}
					{{#if highlighted}}
						{{> RecipeItem recipe=this size='large'}}
					{{else}}
						{{> RecipeItem recipe=this size='small'}}
					{{/if}}
				{{/each}}
			</div>
			<button class="btn-primary btn-more js-get-more" style="margin-bottom: 3px"></button>
		</div>
	</div>
</template>