<template name="RecipeItem">
	<a class="recipe {{highlightedClass}}" href="{{path}}">
		{{#with recipe}}
			<span class="recipe-information">
				<span class="recipe-title">{{title}}</span>
				<span class="recipe-subdata">
					<span class="recipe-favorites">
						<i class="fa fa-heart"></i> {{favoritesCount}}
					</span>
					<span class="recipe-comments">
						<i class="fa fa-comment"></i> {{commentsCount}}
					</span>
					<span class="recipe-share">
						<i class="fa fa-share-alt"></i> {{sharedCount}}
					</span>
					{{#if isBookmarked}}
					<span class="recipe-bookmarked">
						<i class="fa fa-bookmark"></i>
					</span>
					{{/if}}
				</span>
			</span>
		{{/with}}

		<img src="{{recipeImage recipe=recipe size=size}}" />
	</a>
</template>