<template name="Share">
	<div class="overlay share">
		{{#unless attachedImage}}
			<a href="#" class="js-close-overlay overlay-dismiss"><i class="icon-cross"></i></a>
			<div class="wrapper-heading">
				<div class="title-overlay">Share</div>
				<div class="subtitle-overlay">바로 사진을 찍거나 앨범의 사진을 선택해서 올려주세요</div>
			</div>

			<div class="wrapper">
				<a class="js-attach-from-camera btn-camera">
					<i class="fa fa-camera"></i>
					<div class="subtext-camera">사진촬영</div>
				</a>
				<a class="js-attach-from-album btn-album">
					<i class="fa fa-picture-o"></i>
					<div class="subtext-album">앨범에서</div>
				</a>
			</div>
			<div>
				<input type="file" id="imageFile" class="imageFile" style="visibility: hidden; position: absolute; top: 0; left: -5000px;"/>
			</div>
		{{else}}
			<a href="#" class="js-unattach-image overlay-back"><i class="icon-arrow-left-alt"></i></a>
			<div class="title-page">Share</div>
			<a href="#" class="js-close-overlay overlay-dismiss"><i class="icon-cross"></i></a>

			<div class="cropper">
				<img src="{{attachedImage}}">
			</div>

			<form class="form-share">
				<div class="form-group">
					<div class="avatar">
						<img src="{{avatarImage}}" class="image-avatar">
					</div>

                    <textarea name="text" type="text"
                        autocapitalize="off" autocorrect="off"
                        maxlength="140"
                        class="message-share"
                        rows="2"
                        placeholder="쓰고 싶은 내용을 적어주세요..."></textarea>
				</div>

				<div class="wrapper-checkbox">
					<label for="tweeting" class="checkbox">
						<input type="checkbox" name="tweeting" id="tweeting" checked>
						<span>트위터에도 등록</span>
					</label>
				</div>

				<button class="btn-primary" type='submit'>
					올리기
				</button>
			</form>
		{{/unless}}
	</div>
</template>