<template name="Recipes">
	<div class="page recipes">
		{{# Navigation title='COOKKING'}}
			<!--<a href="#" class="nav-item js-search">-->
				<!--<i class="fa fa-search"></i>-->
			<!--</a>-->
			<!--<div class="nav-item-last"></div>-->
		{{/Navigation}}

		{{> Breadcrumb}}

		<div class="content-scrollable">
			<div class="list-recipes">
				{{#each recipes}}
					{{#if highlighted}}
						{{> RecipeItem recipe=this size='large'}}
					{{else}}
						{{> RecipeItem recipe=this size='small'}}
					{{/if}}
				{{else}}
					{{#if isEmptyRecipe}}
						<div class="wrapper-message">
							<div class="title-message">공개된 레시피가 아직 없습니다.</div>
							<div class="subtitle-message">여러분이 직접 만든 레시피를 많은 사람들과 공유해 보세요</div>
						</div>
					{{/if}}
				{{/each}}
			</div>
			<button class="btn-primary btn-more js-get-more"></button>
		</div>
	</div>
</template>