<template name="Navigation">
	<nav class="scrolled {{#if isTransparent}}transparent{{/if}}">
		<div class="nav-group">
			<div class="nav-item-first"></div>
			{{#if back}}
				<a class="nav-item js-back" href="#">
					<i class="fa fa-chevron-left"></i>
				</a>
			{{else}}
				<a class="nav-item js-menu" href="#">
					<i class="fa fa-bars"></i>
				</a>
			{{/if}}
		</div>

		<div class="title-page">
			{{title}}
			<span class="subtext-page">{{subtext}}</span>
		</div>

		<div class="nav-group right">
			{{> Template.contentBlock}}
		</div>
	</nav>
</template>